.container {
  min-width: 310px;
  max-width: 500px;
  height: 100vh;
  margin: auto;
  border-radius: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.subcontainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  margin-top: 10px;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
  max-width: 380px;
  word-wrap: break-word;
  text-align: center;
}

.form-reset-title {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: grey;
  margin: 0px;
  align-self: flex-start;
}

.form-error {
  max-width: 310px;
  word-wrap: break-word;
  min-height: 20px;
}

.text-info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #262627;
  margin: 0px;
}

.text-link {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #10a37f;
  margin: 0px;

  &:hover {
    text-decoration: underline;
  }
}

.error-message {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(247, 44, 44);
  margin: 0px;
  text-align: center;
}

.form-button {
  color: white;
  background-color: #10a37f;

  &:hover {
    background-color: #067257;
  }
}

.form-logo {
  align-self: center;
  margin-top: 100px;
}

.privacy-links {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.footer-link {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-style: italic;
}
.mantine-Input-input {
  height: 54px;
  margin: 10px 0;
  transition: border-color 0.2s ease;
  &:focus-within {
    border-color: transparent;
    outline: 2px solid #10a37f;
  }
}

.form-icon-wrapper {
  display: flex;
  align-items: center;
}
.form-icon {
  margin-right: 8px;
  color: gray;
  margin-bottom: 20px;
}
.error-icon-wrapper {
  display: flex;
  align-items: center;
  color: "red";
}
.error-icon {
  margin-right: 5px;
  flex-shrink: 0;
}
.tip {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: grey;
  margin-bottom: 20px;
  text-align: center;
}
