.leftButtonsGroup {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  transition: width 0.3s ease-in-out;
  width: 260px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--background-color-secondary);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    @media (max-width: 767px) {
      background-color: var(--background-color-primary);
      border-right: 1px solid var(--burger-border-color);
    }
  }
}

.compactLeftButtonsGroup {
  width: 120px;

  &::before {
    transform: translateX(-100%);
  }
}

.rightButtonsGroup {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px 8px;

  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.createChatButton {
  @media (max-width: 767px) {
    position: absolute;
    top: 8px;
    right: 12px;
  }
}
