.footer {
  padding-left: 260px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  transition: padding 0.3s ease-in-out;
}

.withoutPadding {
  padding-left: 0;
}

.input {
  border: none;
}
