.footer {
  padding-left: 260px;
  padding-bottom: 20px;
  padding-right: 12px;
  display: flex;
  justify-content: center;
  z-index: 99;
  transition:
    padding 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.noLeftPadding {
  padding-left: 0;
}

.input {
  border: none;
}

.questionIcon {
  position: absolute;
  bottom: 12px;
  right: 12px;
}


