.navBar {
  max-width: 260px;
  padding: 0 12px;
  background-color: var(--background-color-secondary);
  justify-content: space-between;
  transform: translate(0%);
  transition: transform 0.3s ease-in-out;

  @media (max-width: 767px) {
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--background-color-primary);
    border-right: 1px solid var(--burger-border-color);
    padding-top: 8px;
  }
}

.navBarHidden {
  transform: translate(-100%);
}

.navLink {
  padding: 12px 8px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--navLink-hover-color);
  }
}




.navBarScrollable {
  max-height: 300px; /* или любая другая высота */
  overflow-y: auto;
  padding-right: 8px; /* чтобы содержимое не скрывалось за скроллом */
}

.navBarScrollable::-webkit-scrollbar {
  width: 6px;
}

.navBarScrollable::-webkit-scrollbar-thumb {
  background-color: #888; /* цвет полосы прокрутки */
  border-radius: 3px;
}

.navBarScrollable::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* цвет полосы прокрутки при наведении */
}


.activeNavLink {
  background-color: var(--mantine-color-blue-light);
  font-weight: bold;
}








.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.optionsIcon {
  cursor: pointer;
  margin-left: 10px;
}

.popupMenu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  /* Стили для всплывающего меню */
}

